<%= form_with(model: @picture, local: true) do |form| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
      <ul>
  
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  # ここに画像アップロード用のコード記載
  <%= form.submit %>
<% end %>
  <%= link_to "投稿一覧画面にもどる", pictures_path %>